{% extends '::base.html.twig' %}
{% block title %}Alexander Horkun's "My Blog (Symfony 2)"{% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/amhmyblog/css/my-blog.css')}}">
{% endblock stylesheets %}
{% block body %}
	<div id="header" class="panel">
		<div><span class="title" id="title">Alexander Horkun's "My Blog(Symfony 2)"</span>
		<span id="user">
		{% if app.user %}
			<span id="user-signed">
				<span id="user-name">{{app.user.name}}</span>
				<a href="{{path('logout')}}">Logout</a>
			</span>
			{% else %}
			<span id="user-signin">
				<a href="{{path('login')}}">Sign in</a>
				<a href="{{path('registration')}}">Registration</a>
			</span>
			{% endif %}
		</span>
	</div></div>
	<div id="main-block">
		<div class="row">
			<div id="left-block">{% render(controller('AMHMyBlogBundle:Default:popularPostsBlock')) %}</div>
			<div id="content-block">{% block content %}{% endblock content %}</div>
			<div id="right-block">{% render(controller('AMHMyBlogBundle:Default:userInfoBlock')) %}</div>
		</div>
	</div>
	<div id="footer" class="panel">
		<div class="title">mindkilleralexs@gmail.com</div>
		<div><a href="https://github.com/AlexMaxHorkun/my-blog-symfony">https://github.com/AlexMaxHorkun/my-blog-symfony</a></div>
	</div> 
{% endblock body %}
{% block javascripts %}
{% endblock javascripts %}
