{% extends 'AMHMyBlogBundle::base.html.twig' %}
{% block content %}
	{% if posts|length %}
	<div id="posts_list">
		{% for post in posts %}
		<div name="post" post_id="{{ post.id }}">
			<div name="title" class="title">{{ post.title }}</div>
			<div name="info">
				posted by:
				{% if app.user and app.user.id==post.author.id %}
				<span class="accented">YOU</span>
				{% else %}
				{{ post.author.name }}
				{% endif %},
				views: {{ post.visits }},
				rating: {{ post.rating|number_format(2,'.') }}
			</div>
			<div name="text" class="simple-block">
				<div>{{ post.text|slice(0,text_length) }}</div>
				...<a href="">Read</a>
			</div>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<h3>No posts</h3>
	{% endif %}
{% endblock content %}
