{% extends 'AMHMyBlogBundle::base.html.twig' %}
{% block content %}
	<div id="post" post_id="{{ post.id }}">
		<div class="post">
			<div class="post-title title">{{ post.title }}</div>
			<div class="post-info">
				posted: {{ post.created|date('d.m.Y H:i:s') }} |
				posted by:
				{% if app.user and app.user.id==post.author.id %}
				<span class="accented">YOU</span>
				{% else %}
				{{ post.author.name }}
				{% endif %} |
				views: {{ post.visits }} |
				rating: {{ post.rating|number_format(2,'.') }}
			</div>
			<div name="post-text" class="simple-block">
				{{ post.text }}
			</div>
			{% if rating_form and not rated %}
			<div id="rating_form">
				{{ form_start(rating_form) }}
					{{ form_label(rating_form.rating,'Rate this post') }}
					{{ form_widget(rating_form.rating) }}
					{{ form_widget(rating_form.submit,{label:'Rate'}) }}
				{{ form_end(rating_form) }}
			</div>
			{% endif %}
			{% if rated %}
			<div class="post-info">Already rated by You for "{{rated}}"</div>
			{% endif %}
		</div>
	</div>
{% endblock content %}
